.btn.btn-primary.btn-novo {
  background-color: #202342;
  border-color: #202342;
  width: 100px;
  height: 37px;
  font-weight: 600;
  border-radius: 4px;
  text-transform: uppercase;
  transition: all 0.2s ease-in-out;
  &:hover {
    background-color: #1a1e56;
    border-color: #202342;
  }
}

h3,
.icon-div i.bi {
  color: #202342;
}

.icon-div i {
  background-color: white;
}
.line {
  @media (max-width: 769px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
