body {
  height: 100vh;
  max-width: 100vh;
}

.app {
  padding: 0;
  height: 100%;
}

.app .row {
  height: 100%;
}

.app-content {
  background-color: #e9ecef;
}

.app-root-content::-webkit-scrollbar {
  width: 0.2rem;
}

/* Track */
.app-root-content::-webkit-scrollbar-track {
  background-color: #dbdcde;
}

/* Handle */
.app-root-content::-webkit-scrollbar-thumb {
  background: #25294c !important;
}

/* Handle on hover */
.app-root-content::-webkit-scrollbar-thumb:hover {
  background: #25294c;
}
